.note {
  background-color: aqua;
  width: 250px;
  height: 270px;
  padding: 20px;
  border-radius: 20px 0px;
  display: flex;
  flex-direction: column;
}

.note_text {
  flex: 1;
  resize: none;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  line-height: 1.5rem;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer span {
  opacity: 0;
  transition: 300ms;
}

.note:hover .note-footer span {
  opacity: 1;
}

span {
  transition: 200ms;
}

.text {
  color: white;
  font-weight: bold;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 15px;
  fill: black;
}

svg:hover {
    cursor: pointer;
}
